@model GStore.ViewModels.ProdutoVM
@{
    ViewData["Title"] = "Detalhes do Produto";
}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-5">
                @if (Model.Produto.Fotos.Count == 0)
                {
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                        alt="@Model.Produto.Nome" />
                }
                else
                {
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            @for (int i = 0; i < Model.Produto.Fotos.Count(); i++)
                            {
                            <button type="button" 
                                data-bs-target="#carouselExampleIndicators" 
                                data-bs-slide-to="@i"
                                class='@(i == 0 ? "active" : "")'
                                aria-current="@(i == 0 ? "true" : "false")" 
                                aria-label="Slide @(i+1)">
                            </button>
                            }
                        </div>
                        <div class="carousel-inner">
                             @for (int i = 0; i < Model.Produto.Fotos.Count(); i++)
                             {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@Model.Produto.Fotos[i].ArquivoFoto"
                                         class="d-block w-100" alt="@Model.Produto.Nome">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
            </div>
            <div class="col-md-7">
                <div class="small mb-1">Categoria: @Model.Produto.Categoria.Nome</div>
                <h1 class="display-5 fw-bolder">@Model.Produto.Nome</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">
                        R$ @((Model.Produto.ValorVenda * 1.05M).ToString("N2"))
                    </span>
                    <span>R$ @Model.Produto.ValorVenda.ToString("N2")</span>
                </div>
                <p class="lead">@Model.Produto.Descricao</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 4rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Adicionar ao Carrinho
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produtos Semelhantes</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var produto in Model.Semelhantes)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@(produto.Fotos.Count == 0 ?
                        "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" :
                        produto.Fotos[0].ArquivoFoto)" alt="@produto.Nome" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                R$ @produto.ValorVenda.ToString("N2")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>